@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@500;600;700&family=Roboto:wght@100;400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

/* reseting page properties */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 100%;

  /* used variables in the code */
  --lato: "Lato";
  --poppins: "Poppins";
  --roboto: "Roboto";

  --sm: 300;
  --md: 500;
  --lg: 700;
}
nav,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}
a:hover {
  opacity: 1;
}
/* Initial reset */

/* header style */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
header img {
  width: 200px;
}
header nav {
  display: flex;
  gap: 10px;
}
header li a {
  color: #191c03;
  font-family: var(--lato);
  font-weight: 700;
}

/* HERO */
.hero {
  background-image: url(../assets/hero.jpg);
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.hero h1 {
  font-size: 2.8rem;
  margin: 0 0 15px 0;
  font-family: var(--poppins);
  font-weight: var(--lg);
}
.hero h3 {
  font-family: var(--roboto);
  font-size: 1.8rem;
  font-weight: var(--sm);
  margin: 0 0 20px 0;
}
.hero .btn {
  background-color: #fff;
  padding: 15px 40px;
  border-radius: 4px;
  color: #191c03;
  font-family: var(--lato);
  font-weight: var(--md);
}
/* HERO */

/* hotel */
.hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 75px 50px 15px 50px;
}
.hotel h1 {
  font-size: 2rem;
  margin-bottom: 35px;
  color: #191c03;
  font-family: var(--poppins);
  font-weight: var(--lg);
}
.hotel p {
  margin-bottom: 35px;
  color: #191c03;
  font-family: var(--roboto);
  font-weight: var(--md);
}
.hotel hr {
  width: 200px;
  height: 2px;
  background-color: #191c03;
  margin-bottom: 70px;
}
.hotel .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.hotel .grid li {
  height: 350px;
  padding: 20px;
  border-radius: 10px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}
.hotel .grid li.sm {
  flex-basis: 40%;
}
.hotel .grid li.lg {
  flex-basis: 60%;
}
/* hotel */

/* caracteristicas */
.caracteristicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 25px;
  background-color: #191c03;
  color: #c3c63b;
}
.caracteristicas h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: var(--poppins);
  font-weight: var(--lg);
}
.caracteristicas p {
  margin-bottom: 20px;
  font-family: var(--roboto);
  font-weight: var(--md);
}
.caracteristicas hr {
  width: 80%;
  height: 2px;
  background-color: #c3c63b;
  margin-bottom: 50px;
}
.caracteristicas .grid {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.caracteristicas .grid li {
  padding: 0;
  text-align: center;
}
.caracteristicas .grid li i {
  color: #c3c63b;
  font-size: 2rem;
  margin: 0 0 20px 0;
}
.caracteristicas .grid li h4 {
  font-family: var(--poppins);
  font-size: 1.5rem;
  margin: 0 0 20px 0;
  font-weight: var(--lg);
}
.caracteristicas .grid li p {
  font-family: var(--lato);
}
/* caracteristicas */

/* Newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
  text-align: center;
}
.newsletter h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #191c03;
  font-family: var(--poppins);
  font-weight: var(--lg);
}
.newsletter p {
  margin-bottom: 15px;
  color: #191c03;
  font-family: var(--roboto);
  font-weight: var(--md);
}
.newsletter form {
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.newsletter form input {
  padding: 14px;
  border: 1px solid #191c03;
  border-radius: 5px;
  margin: 0 5px 0 0;
  flex: 1;
}
.newsletter form button {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 2s all;
  background-color: #191c03;
  color: #c3c63b;
}
.newsletter form button:hover {
  transition: 2s all;
  background-color: #c3c63b;
  color: #fff;
}
/* Newsletter */

/* footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: #191c03;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  color: #fff;
}
footer ul {
  margin-bottom: 25px;
  display: flex;
}
footer ul li {
  width: 100%;
  margin: 0 10px 0 0;
}
footer ul li:last-child {
  margin: 0 0 0 0;
}
footer ul li a {
  color: #c3c63b;
  font-size: 1.8rem;
}
footer p {
  width: 100%;
  text-align: center;
  font-weight: var(--md);
  font-family: var(--roboto);
}
/* footer * /

/* media queries */
/* tablet and similar devices */
@media screen and (max-width: 620px) {
  header {
    flex-direction: column;
    padding: 10px 25px;
  }
  header nav {
    justify-content: space-evenly;
  }
  header img {
    margin-bottom: 10px;
  }
  .hero h1 {
    font-size: 1.8rem;
    padding: 10px 10px 5px 10px;
  }
  .hero h3 {
    font-size: 1.2rem;
    font-weight: var(--md);
  }
  .hotel .grid li.sm,
  .hotel .grid li.lg {
    flex-basis: 100%;
  }
  .caracteristicas .grid {
    width: 100%;
    justify-content: space-between;
  }
  .caracteristicas .grid li i {
    font-size: 1.8rem;
  }
  .caracteristicas .grid li h4 {
    font-size: 1.2rem;
  }
}

/* smartphones and large devices and up */
@media screen and (max-width: 425px) {
  header {
    padding: 10px 0 20px 0;
  }
  header nav {
    justify-content: space-evenly;
    width: 100%;
  }
  .hero h1 {
    font-size: 1.6rem;
    padding: 0 15px 0 15px;
  }
  .hero h3 {
    font-size: 1.2rem;
    padding: 0 15px 0 15px;
    font-weight: var(--md);
  }
  .hotel .grid li.sm,
  .hotel .grid li.lg {
    flex-basis: 100%;
  }
  .caracteristicas h1 {
    font-size: 1.5rem;
  }
  .caracteristicas .grid {
    flex-direction: column;
    gap: 15px;
  }
  .caracteristicas .grid li i {
    color: #c3c63b;
    font-size: 2rem;
    margin: 0 0 20px 0;
  }
  .newsletter form button {
    margin: 10px 0 0 0;
  }
  footer p { 
    width: 65%;
  }
}
